<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>EpaperHybridBackgroundAppRefresh</string>
			<key>FooterText</key>
			<string>EpaperHybridBackgroundAppRefreshMessage</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>EpaperHybridAllowMobileData</string>
			<key>Key</key>
			<string>EpaperHybridAllowMobileData_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>EpaperHybridKeepNumberOfIssues</string>
			<key>Key</key>
			<string>EpaperHybridKeepNumberOfIssues_preference</string>
			<key>DefaultValue</key>
			<integer>7</integer>
			<key>Titles</key>
			<array>
				<string>EpaperHybridKeepNumberOfIssuesAll</string>
				<string>EpaperHybridKeepNumberOfIssues3</string>
				<string>EpaperHybridKeepNumberOfIssues7</string>
				<string>EpaperHybridKeepNumberOfIssues14</string>
				<string>EpaperHybridKeepNumberOfIssues30</string>
			</array>
			<key>ShortTitles</key>
			<array>
				<string>EpaperHybridKeepNumberOfIssuesAllShort</string>
				<string>3</string>
				<string>7</string>
				<string>14</string>
				<string>30</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>3</integer>
				<integer>7</integer>
				<integer>14</integer>
				<integer>30</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>CoreSettingsAbout</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>DummyVersion</string>
			<key>Key</key>
			<string>CoreSettingsVersion_preference</string>
			<key>Title</key>
			<string>CoreSettingsVersion</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
