* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    user-select: none;

    /* user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none; */
}

body {
    background: 2e2b2b;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tooltip {
  color: blue;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#img-container {
    position: absolute;
    width:400px;
    height:400px;
    border-radius: 5px;
     /*height:50%;*/
    top:420px;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px dotted red;
}

/*
text-align: center;
border: 2px solid red;
border-radius: 12px;display: flex;
justify-content: center;
align-items: center;
*/

.image {
   position:absolute;
   left:0;
   z-index:0;
   max-width:100%;
   max-height:100%;
}

.frame {
   position:absolute;
    left:0;
    top:0%;
    z-index:1;
    max-width:100%;
    max-height:100%;

}

.file-upload-section {
   border-radius: 10px;
   margin: auto;
   margin-top: 5%;
   font-weight: bold;
   width: 25%;
   height:28px;
   padding: 4px;
   color: white;
   text-align: center;
   padding:10px;
   background: blue;
   cursor:pointer;
}
#foto-file {
    display:none;
}

/*
#foto-image {

    user-select: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
*/
.buttons-section {
    position: fixed;
    margin: auto;
    top: 660px;

    left: 25%;
    color: white;
    width: 50%;
}

.upper-buttons-section {
    top:32%;
    width:50%;
    margin:auto;
}

#rotate-range {
    width: 60px;
    float: right;
}

#radius-range {
    width: 150px;
    vertical-align: middle;
}

#rotate-image {
    vertical-align: middle;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.buttons-table {
    width: 100%;
}

.buttons-table td {
    padding: 3px; text-align: center;
}
.operation-btn {
    padding: 8px;
    border: 0;
    border-radius: 10px;
    background: #201e1e;
    color: white;
    width: 100%;
    height:50px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2), 0 0 1rem rgba(0,0,0,0.2);
    transition: 2s;
}

.operation-btn-disabled {
    padding: 8px;
    border: 0;
    border-radius: 10px;
    background: #cccccc;
    color: #666666;
    width: 100%;
    height:50px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2), 0 0 1rem rgba(0,0,0,0.2);
    transition: 2s;
}

.radius-area {
    padding: 8px;
    border: 0;
    border-radius: 10px;
    background: #FF8C00;
    color: white;
    width: 100%;
    height:50px;
    cursor: pointer;
    font-weight: bolder;
    box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2), 0 0 1rem rgba(0,0,0,0.2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#radius-amount {
    width: 30px;
    height: 3px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.download-btn {
    background: red;
}

#color-picker, #colorize-color-picker {
    display: none;
}

#color-preview {
    float:left;
    width: 15px;
    height: 15px;
}