.body{
    background-image: url("../image/white.png");
}

.container {
    margin:0 auto;
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.footer-part {
    text-align: center;
}

.feedbackBtn {
    display:block;
    text-align: center;
}

#container {
	margin: 0 auto;
	max-width: 890px;
	text-align: center;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

.feedbackForm{
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 20%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    color: black;
}

.button {
    font-size: 1em;
    padding: 10px;
    background-color: #6484ec;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    box-shadow: 0px 0px 2px #ffffff;
    margin-top: 50px;
}

.button:hover {
    background: #06D85F;
}

.button-holder{
	text-align: center;
	margin: 15px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
	right: 0;
}

.grid-item {
	background-color: rgb(63, 51, 60);
	filter: alpha(opacity=80);
	background-size: cover;
    color: rgb(255, 255, 255);
    margin: 20px;
	box-shadow: 0px 0px 20px #000000;
	border-radius: 15px;
	padding: 20px;
    font-size: 23px;
    text-align: center;
    transition: 1s;
}

.grid-item:hover {
    background-color: rgb(63, 00, 00);
}

.grid-container {
  display: grid;
  opacity: 0.9;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
