input{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#body{
    
    background:url(http://moziru.com/images/wallpaper-clipart-grass-11.jpg) repeat-x 0 0;
}

#taskbar{
    
    opacity: 0.9;
    box-shadow: 0px 0px 40px grey;
    position:fixed;
    bottom:0px;
    height:70px;
    left:0px;
    right:0px;
    border-radius: 90px 90px 2px 2px;
    text-align: center;
    display: inline;
    user-select: none;
}

#timer{
    
    margin: 250px 0px 0px 0px;
    
}


#one{
    height:300px; 
    width:250px; 
    border:1px solid #ccc; 
    background: linear-gradient(#DBCACA, #FFFFFF);
    border-radius: 10px 10px 2px 2px;
    box-shadow: 0px 0px 40px grey;
    
}

#innerDiv{
    height:29px; 
    width:250px;
    color: #FF0000;
    text-align: center;
    vertical-align: middle;
    font-family: Comic Sans MS, cursive, sans-serif;
    background: linear-gradient(#080000, #635656);
    border-radius: 10px 10px 2px 2px;
    box-shadow: 0px 0px 50px grey;
    user-select: none;
}

#innerDivMemo{
    height:29px; 
    width:300px;
    color: #FF0000;
    text-align: center;
    vertical-align: middle;
    font-family: Comic Sans MS, cursive, sans-serif;
    background: linear-gradient(#080000, #635656);
    border-radius: 10px 10px 2px 2px;
    box-shadow: 0px 0px 50px grey;
    user-select: none;
    margin-left: 1px;
    
}


#one2{
    height:300px; 
    width:250px; 
    border:1px solid #ccc; 
    background: linear-gradient(#DBCACA, #FFFFFF);
    border-radius: 10px 10px 2px 2px;
    box-shadow: 0px 0px 40px grey;
}

#innerDiv2{
    height:23px; 
    width:250px;
    color: #FFFFFF;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background: linear-gradient(#080000, #635656);
    border-radius: 10px 10px 2px 2px;
    box-shadow: 0px 0px 50px grey;
    user-select: none;
}

p{
    box-shadow: 0px 0px 50px #000000;
    text-shadow: 2px 2px 20px #ff0000;
}

#memoGameIcon{
    width:60px;
    height:60px;
    margin: 5px;
    transition: all 0.5s;
    animation: fadein 2s;
}



#chatIcon{
    width:60px;
    height:60px;
    margin: 5px;
    transition: all 0.5s;
    animation: fadein 2s;
}
#controlApp{
    width:60px;
    height:60px;
    margin: 5px;
    transition: all 0.5s;
    animation: fadein 2s;
}
#hider{
    transition: all 2s;
    animation: fadein 2s;
}

#button {
    display: inline-block;
    border-radius: 50px;
    background-color: #1E74F4;
    box-shadow: 0px 0px 50px #000000;
    text-shadow: 2px 2px 20px #0A0101;
    border: none;
    color: #FFFFFF;
    text-align: center;

    
    font-size: 15px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 7px;
  }

  #textarea{
    border-radius: 10px;
  }

  #connectionStatus{
    margin-top: 5px;
    text-align: center;    
    color : #7A4D4D;
    text-shadow: 2px 2px 20px #000000;
    
  }
