.body{
    background-image: url("../image/white.png");
}

.button {
    font-size: 1em;
    padding: 10px;
    background-color: #6484ec;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    box-shadow: 0px 0px 2px #ffffff;
    margin-top: 50px;
}

.button:hover {
    background: #06D85F;
}

.button-holder{
	text-align: center;
	margin: 15px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
	right: 0;
}

.grid-item {
	background-color: rgb(63, 51, 60);
	filter: alpha(opacity=80);
	background-size: cover;
    color: rgb(255, 255, 255);
    margin: 20px;
	box-shadow: 0px 0px 20px #000000;
	border-radius: 15px;
	padding: 20px;
    font-size: 23px;
    text-align: center;
    transition: 1s;
}

.grid-container {
    display: grid;
    opacity: 0.9;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

#header {
    height: 100px;
}

/* Nav bar starts here */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* Nav bar ends here */