img{
    max-width:180px;
}

input[type=file]{
    padding:10px;
    background:#2d2d2d;
}

#dropShadowDiv, #roundCornerDiv, #iconSizesDiv{
   transition: 1.5s opacity;
}

#repositoriesDropDownMenu{
    width: auto;
    height: 25px;
    color: black;
    margin-bottom: 10px;
}

#xxxhdpi{
    width:152px;
    height:152px;
}
#xxhdpi{
    width:114px;
    height:114px;
}
#xhdpi{
    width:76px;
    height:76px;
}
#hdpi{
    width:56px;
    height:56px;
}
#mdpi{
    width:38px;
    height:38px;
}